# База данных PostgreSQL
DATABASE_DRIVER=postgres
DATABASE_URL=postgres://exampleuser:examplepass@database:5432/exampledb
DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD=examplepass
DATABASE_DB=exampledb

# Логгер: dev | json | tskv
LOGGER=dev

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Фронтенд (Vite)
VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha